<%= javascript_pack_tag "swipe" %>


<div class="flex text-3xl justify-center items-center h-1/4">
  <h1 class="mt-10"><%= t('hi') %></h1>
</div>

<div class="flex justify-center items-center h-1/2">
  <div class="w-auto h-1/2 bg-white border border-gray-300 rounded-lg shadow-md flex flex-col justify-center items-center transition-transform duration-100 ease-in-out" id="swipe-widget">
    <h2 class="m-4 no-select text-lg font-semibold text-center"><%= t('how_was_your_day') %></h2>
  </div>
</div>

<!-- 
<div id="footer">
  <a href="#top"><%# t('back_to_top') %></a>
</div>
-->
